**/.vscode/
.vscode/*
.vscode/

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix


.terraform/
**/.terraform/*
/.terraform/*
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
.terraform*
.DS_Store
./data/terraform.tfvars
