**/.vscode/
.vscode/*
.vscode/
git
*git
bash

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

.terraform/
**/.terraform/*
/.terraform/*
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
.terraform*
.DS_Store
DS_Store
./data/terraform.tfvars
